{% extends 'maltlager/base.html' %}
{% block block_title %}{% endblock %}
{% block content %}
    <div class="container">
        <img class="banner-image" src="/static/resources/images/hops-banner.png" alt="Banner image">
    </div>
    <div class="jumbotron">
        <div class="container">
            <p style="text-align: center">Här kommer vi att lägga upp information om de aktiviteter som är på gång i bryggeriet.</p>
        </div>
    </div>
    {% if activities %}
        {% for activity in activities %}
            <div class="jumbotron">
                <div class="article">
                    <div class="page-header">
                        <h2>{{ activity.title }}</h2>
                    </div>
                    {{ activity.content|safe }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
