{% extends 'maltlager/base.html' %}
{% block block_title %}Create User{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">        
            <form action="" method="post" class="form-vertical">
                <div style="max-width: 137px; width: 137px; margin: 0 auto;" >
                    {% csrf_token %}
                    {{ form }}
                </div>
                <div style="width: 220px; margin: 0 auto;" >
                    <br>
                    <a style="width: 100px; float:left" class="btn btn-primary" href="/settings/">Back</a>
                    <input type="submit" style="width: 100px; float:right" class="btn btn-primary" value="Create User" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
