{% extends 'maltlager/base.html' %}
{% block block_title %}{% endblock %}
{% block content %}
    <div class="container">
        <img class="banner-image" src="/static/resources/images/home-banner.png" alt="Banner image">
    </div>
    <div class="container">
        <h1 style="text-align: center">Välkomna till Gysinge Bryggerisällskap!</h1>
    </div>
    <div class="container">
        <div class="col-md-3">
            <a href="/activities/" class="thumbnail">
                <div class="thumbnail-image-wrapper">
                    <span class="thumbnail-image-helper"></span>
                    <img class="thumbnail-image" alt="Activities image" src="/static/resources/images/activities.jpg" />
                </div>
                <h4 style="text-align: center;">Aktiviteter</h4>
                <p style="text-align: center;">Saker som händer i bryggeriet</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/about/" class="thumbnail">
                <div class="thumbnail-image-wrapper">
                    <span class="thumbnail-image-helper"></span>
                    <img class="thumbnail-image" alt="About image" src="/static/resources/images/about.jpg">
                </div>
                <h4 style="text-align: center;">Om oss</h4>
                <p style="text-align: center;">Information om hur vi brygger öl i Gysinge</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/contact/" class="thumbnail">
                <div class="thumbnail-image-wrapper">
                    <span class="thumbnail-image-helper"></span>
                    <img class="thumbnail-image" alt="Courses image" src="/static/resources/images/courses.jpg">
                </div>
                <h4 style="text-align: center;">Kurser</h4>
                <p style="text-align: center;">Är du intresserad av det vi gör? Kontakta oss!</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/calendar/" class="thumbnail">
                <div class="thumbnail-image-wrapper">
                    <span class="thumbnail-image-helper"></span>
                    <img class="thumbnail-image" alt="Calendar image" src="/static/resources/images/calendar.jpg">
                </div>
                <h4 style="text-align: center;">Kalender</h4>
                <p style="text-align: center;">Bokningar av bryggeriet</p>
            </a>
        </div>
    </div>
{% endblock %}
