{% extends 'maltlager/base.html' %}
{% block block_title %}Logga in{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">        
            <form action="" method="post" class="form-vertical">
                <div style="max-width: 180px; width: 180px; margin: 0 auto;" >
                    {% csrf_token %}
                    {{ form }}
                </div>
                <div style="width: 100px; margin: 0 auto;" >
                    <br>
                    <input type="submit" style="width: 100px" class="btn btn-primary" value="Login" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
