{% extends 'maltlager/base.html' %}
{% block block_title %}Malt{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="">Malt</a></li>
                    <li><a href="/hops/">Hops</a></li>
                </ul>
                <div class="tab-content">
                    {% if malt_list %}
                        <table class="table table-hover" style="table-layout: fixed;word-wrap: break-word;">
                            <thead>
                                <tr>
                                    <th class="col-md-6">Name</th>
                                    <th class="col-md-2">Amount</th>
                                    <th class="col-md-2">Update</th>
                                    <th class="col-md-2">History</th>
                                </tr>
                            </thead>
                            {% for malt in malt_list %}
                                <tr>
                                    <td style="vertical-align:middle">{{ malt.name }}</td>
                                    <td style="vertical-align:middle">{{ malt.amount }} kg</td>
                                    <td style="vertical-align:middle"><a class="btn btn-primary" href="/malt/{{ malt.name }}/">Update</a></td>
                                    <td style="vertical-align:middle"><a class="btn btn-primary" href="/malt_history/{{ malt.name }}/">History</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>No malts are available!</p>
                    {% endif %}
                </div>
                <a style="float:left; margin-bottom:15px" class="btn btn-primary" href="/history/malt/">History</a>
                <a style="float:right; margin-bottom:15px" class="btn btn-primary" href="/malt_form/">New malt</a>
            </div>
        </div>
    </div>
{% endblock %}
