{% extends 'maltlager/base.html' %}
{% block block_title %}Malt history for {{ current_malt }} malt{% endblock %}
{% block content %}
    <div class="jumbotron container">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="/">Malt</a></li>
                <li><a href="/hops/">Hops</a></li>
            </ul>
            <div class="tab-content">
                {% if malt_change_list %}
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    {% for malt_change in malt_change_list %}
                        <tr>
                            <td style="vertical-align:middle" class="col-md-6">{{ malt_change.amount }} kg</td>
                            <td style="vertical-align:middle" class="col-md-6">{{ malt_change.time }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <p>No changes in history!</p>
                {% endif %}
                <a style="float:left; margin-bottom:15px" class="btn btn-primary" href="/">Back</a>
            </div>
        </div>
    </div>
{% endblock %}