{% extends 'maltlager/base.html' %}
{% block block_title %}Updating {{ current_malt }} malt{% endblock %}
{% block content %}
    <div class="jumbotron container">
        <form action="" method="post">
            <p>Current amount: {{ amount }} kg</p>
            {% csrf_token %}
            {{ form }}
            <br>
            <br>
            <a style="float:left" class="btn btn-danger" href="/malts/">Back</a>
            <input type="submit" style="float:right" class="btn btn-primary" value="Submit" />
        </form>
    </div>
{% endblock %}
